body {
    margin: 0px;
}

.container {
    margin: 0px;
    min-height: 100vh;
}

.home {
    background-image: url("homepage.jpeg");
    background-color: #e6e6e8;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-direction: row;
}

.home-flex {
    justify-content: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.navbar {
    margin-right: 30px;
    margin-top: 40px;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(167, 161, 161);
    text-decoration: none;
    padding: 10px 14px;
    font-size: 13px;
    font-family: "Futura", sans-serif;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:visited {
    text-decoration: none;
}

.bio {
    width: 28%;
    margin-top: 7%;
    margin-right: 10px;
}

.description-margin {
    margin-top: 20px;
}

.home-title {
    margin-right: 8px;
    margin-top: 6%;
    writing-mode: tb-rl;
}

.header-font {
    font-style: italic;
    font-size: 45px;
    color: #5F5757;
    font-family: "Futura", sans-serif;
}

.subheader-font {
    font-style: italic;
    font-size: 33px;
    color: #5F5757;
    font-family: "Futura", sans-serif;
}

.date-font {
    font-style: italic;
    font-size: 20px;
    color: #5F5757;
    font-family: "Futura", sans-serif;
}

.description-font {
    color: #5F5757;
    font-size: 15px;
    font-family: "Avenir Book", sans-serif;
    line-height: 22px;
}

.profpic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(56, 56, 56);
}

.experiences {
    background-image: url("experiences-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5%;
}

.page-two-col-one {
    padding-left: 20px;
    width: 33%;
}

.school-desc {
    margin-left : 20px
}

.skill-column {
    width: 40%;
    margin-right: 10%;
}

.skill-bar-container {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    margin: 0;
}

.skill-bar {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #42A4C3;
    width: 50%;
    border-radius: 4px;
    margin-top: 1px;
    margin-bottom:1px;
}

.skill-bar:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom:0px;
}

.skill-name {
    color: #5F5757;
    font-size: 15px;
    font-family: "Futura", sans-serif;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.resume-button {
    background-color: rgb(167, 161, 161, 0);
    border: 2px solid #42A4C3;
    color: #42A4C3;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    width: 220px;
    font-family: "Futura", sans-serif;
    font-style: italic;
    font-weight: 400;
}

.resume-button:hover {
    border: 3px solid #42A4C3;
}

.page-two-col-two {
    padding-left: 10%;
    margin-top: 40px;
    width: 50%;
}

.tag {
    min-width: 120px;
    width: 140px;
    height: 34px;
    background-image: url(tag.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.tag:hover {
    opacity: 1;
}

.tag-font {
    font-style: italic;
    font-size: 20px;
    font-family: "Futura", sans-serif;
    color: white;
    margin-left: 22px;
    margin-top: 4px;
}

.long-top {
    min-width: 10px;
    max-width: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(166, 169, 170);
    margin-top: 12px;
    margin-left: 6%;
    min-height: 100%;
}

.long-mid {
    min-width: 10px;
    max-width: 10px;
    background-color: rgb(166, 169, 170);
    margin-left: 6%;
    min-height: 100%;
}

.long-bottom {
    min-width: 10px;
    max-width: 10px;
    background-color: rgb(166, 169, 170);
    margin-left: 6%;
    min-height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.circle-first {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 5px;
    background-color: #42A4C3;
    z-index: 2;
}

.circle {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 5px;
    background-color: #42A4C3;
    z-index: 2;
    margin-top: 12px;
}

.tag-margin {
    margin-left: 11%;
    margin-top: 6px;
}

.tag-header-margin {
    margin-top: 0px;
    margin-bottom: 15px;
}

.contact {
    background-image: url("contact-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.contact-rest {
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
    margin-top: 10%;
}

.header-padding {
    padding-left: 5%;
}

.contact-divs {
    margin-top: 40px;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
}

.contact-imgs {
    margin-left: 35px;
    margin-right: 35px;
}

.projects {
    background-image: url("contact-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.project-header {
    flex: 2
}

.project-rest {
    flex: 8;
    background-color: powderblue;
}

.project-left {
    flex: 4;
    background-color: red;
}

.project-right {
    flex: 6;
    background-color: lightgreen;
}

.project-elm {
    flex: 1;
    text-align: center;
    padding-top: 4vh;
}

.project-font {
    font-style: italic;
    font-size: 20px;
    color: #5F5757;
    font-family: "Futura", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .home {
        background-image : none;
    }

    .home-flex {
       
        flex-direction: column-reverse;
        align-items: center;
    }

    .navbar {
        margin-right : 0px;
    }

    .home-title {
        writing-mode: horizontal-tb;
        margin-bottom: 0px;
    }

    .bio {
        text-align : center;
        width : 70%;
        justify-content: center;
        align-items : center;
    }

    .profpic {
        margin-left : 0px;
    }
    
    .experiences {
        display : flex;
        flex-direction : column;
        align-items: center;
        justify-content: center;
        text-align : center;
        padding-left : 0%;
    }

    .responsive {
        flex-direction : column;
        align-items : center;
        justify-content : center;
    }

    .page-two-col-one, .page-two-col-two {
        width : 80%;
        justify-content : center;
        align-items : center;
        padding-left : 0px;
    }

    .page-two-col-two {
        margin-top : 80px;
    }

    .school-desc {
        margin-left : 0px;
    }

    .skill-column {
        margin-left : 10%;
    }

    .tag {
        text-align : left;
    }

}